<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://bootswatch.com/5/darkly/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <style>
        textarea {
            resize: none;
        }
    </style>
    {{ codemirror.include_codemirror() }}
</head>
<body>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <h6>Editor</h6>
        </div>
        <div class="col-md-6">
            <h6>Consola</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form action="/" method="POST">
                {{ form.source_code }}
                <input type="submit" class="btn btn-primary btn-block" value="Compilar">
            </form>
        </div>
        <div class="col-md-6">
            <div class="jumbotron">
                <textarea id="Fuente" rows="12" cols="78" wrap='off' spellcheck="false" readonly>{{salida}}</textarea>
            </div>
        </div>
    </div>
</body>
</html>